/* Anchor Link css */
/*Button css*/
/*Default Button css*/
/*secondary Button css*/
/*Inactive Button css*/
/*Link css*/
/* css for Form Controls and Alerts */
/* css for Form error and Alerts */
/*rs symbol */
/*cart font family */
/* checkout font family */
/* Fonts css */
body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  position: static;
}
.stMainContent .stLayoutContainers {
  min-height: 400px;
}
hr {
  border-top: 1px solid #d1d1d1;
}
h1 {
  font: 27px 'Cormorant Infant', serif;
  margin-top: 0;
  font-weight: 400;
  text-transform: capitalize;
}
h2 {
  font: 18px "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: capitalize;
}
h3 {
  font: 14px "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
/*
h4 {
	font: 8.5px Montserrat;
	text-transform: uppercase;
}
*/
p {
  font: 18px "Montserrat", sans-serif;
}
/* rs symbol */
.fa {
  font-size: 0.82em !important;
}
#myaccount .fa {
  font-size: 0.9em !important;
}
/* rs symbol ends*/
.alertOverlay {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #dedede;
  position: fixed;
  z-index: 9998;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
a,
a:hover,
a:focus,
a:active {
  outline: 0;
}
.cursor-default {
  cursor: default !important;
}
/*Buttons css */
.btn {
  border: none;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  letter-spacing: 0.06em;
  outline: none;
}
.btn-default,
.btn-default:link,
.btn-default:visited,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:focus {
  background-color: #181818;
  color: #fff;
  border: 1px #181818 solid;
}
.btn-primary,
.btn-primary:link,
.btn-primary:visited {
  background-color: #56bfbc;
  color: #fff;
  border: 1px #56bfbc solid;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover {
  background-color: #000;
  color: #fff;
  border: 1px #000 solid;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus {
  background-color: #56bfbc;
  color: #fff;
  border: 1px #56bfbc solid;
}
.btn-secondary,
.btn-secondary:link,
.btn-secondary:visited {
  background-color: #fff;
  color: #56bfbc;
  border: 1px #56bfbc solid;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:active:focus {
  background-color: #fff;
  color: #000;
  border: 1px #000 solid;
}
.btn-inactive,
.btn-inactive:link,
.btn-inactive:visited,
.btn-inactive:hover,
.btn-inactive:focus,
.btn-inactive:active,
.btn-inactive:active:focus,
.btn-inactive[disabled]:hover {
  background-color: #bbe5e4;
  color: #fff;
  border: 2px #bbe5e4 solid;
  position: relative;
}
a,
.link,
a:hover,
.link:hover,
a:focus,
.link:focus,
a:active,
.link:active {
  text-decoration: none;
  color: #000;
}
.btn-link,
.btn-link:link,
.btn-link:visited,
.btn-link:active,
.btn-link:active:focus,
.selected a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  border-bottom: none;
  padding-bottom: 5px !important;
  transition: padding-bottom 0.5s;
}
.btn-link:link:hover {
  border-bottom: none;
}
.btn-link:hover {
  border-bottom: none;
}
.btn-link {
  display: inline;
  position: relative;
}
.btn-link:hover,
.btn-link:link:hover {
  cursor: pointer;
}
.btn-link::after {
  content: '';
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: #000;
  transition: transform 0.3s ease-in-out;
}
a.close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  width: 15px;
  height: 15px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}
a.close-icon:before,
a.close-icon:after {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #181818;
  content: '';
  top: 10px;
  right: 0px;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}
a.close-icon:before {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
a.close-icon:after {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* css for Form Controls and Alerts */
input.form-control,
select.form-control,
textarea.form-control {
  color: #000;
  font-size: 14px;
  resize: none;
}
input.form-control,
select.form-control {
  border: 1px solid #f7f7f7;
  border-radius: 0px;
  background-color: #f7f7f7;
  height: 40px;
  box-shadow: none;
}
input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #000;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #bcbcbc;
}
label.control-label {
  color: #000;
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 0;
  font-weight: 300;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
}
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
input[type="checkbox"]:not(:checked) + label::before,
input[type="checkbox"]:checked + label::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 17px;
  height: 18px;
}
input[type="checkbox"]:checked + label:before input[type="checkbox"].form-control {
  display: inline-block;
  vertical-align: baseline;
  background-color: #fff;
  width: 23px;
  height: 23px;
}
input[type="radio"]:not(:checked),
input[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
input[type="radio"]:not(:checked) + label,
input[type="radio"]:checked + label {
  position: relative;
  padding-left: 38px;
  cursor: pointer;
}
input[type="radio"]:not(:checked) + label::before,
input[type="radio"]:checked + label::before {
  content: '';
  position: absolute;
  left: 0px;
  width: 23px;
  height: 23px;
  border: 1px solid #000;
  border-radius: 100%;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
  top: 5px;
}
input[type="radio"]:checked + label::after {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 9px;
  left: 4px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
  background-color: #000;
}
label.label-checkbox {
  font-size: 14px;
}
span.encirclePointBalance {
  border: 1px solid #f7f7f7;
  border-radius: 0px;
  background-color: #f7f7f7;
}
.has-error .form-control {
  border: #dd3939 1px solid;
}
.has-error .control-label,
.has-error .help-block {
  color: #dd3939;
}
.help-block {
  margin-top: 10px;
  font-size: 14px;
  color: #dd3939;
}
.alert {
  position: fixed;
  font-size: 14px;
  top: 0;
  width: 100%;
  border-radius: 0;
  z-index: 9999;
  text-align: center;
}
.alert-success {
  background-color: #129625;
  border-color: #129625;
  color: #ffffff;
}
.alert-danger {
  background-color: #dd3939;
  border-color: #dd3939;
  color: #ffffff;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #d9edf7;
  color: #ffffff;
}
.alert-warning {
  background-color: #e9ba2c;
  border-color: #e9ba2c;
  color: #ffffff;
}
.alert-dismissible .close,
.alert-dismissible .close:hover,
.alert-dismissible .close:focus {
  opacity: 1;
  outline: 0;
  color: transparent;
}
select::-ms-expand {
  display: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
/** End of css for Form Controls and Alerts **/
/** Modal Popup css **/
.modal-dialog {
  margin: 110px 20px;
}
.modal-lg,
.modal-md,
.modal-sm {
  width: auto;
}
.modal-header {
  border: 0;
  padding: 4px;
}
.modal-body {
  overflow: hidden;
}
.modal-body h3 {
  text-transform: none;
}
.showModal {
  display: block;
  overflow: auto;
}
.modal-content {
  border-radius: 0;
}
/** End of css for Modal Popups **/
.no-padding {
  padding: 0;
}
.no-padding-right {
  padding-right: 0;
}
.no-padding-left {
  padding-left: 0;
}
.container {
  min-width: 260px;
  max-width: 1198px;
}
/** Side menu css **/
div.accountPanel {
  border: 1px solid #1d1d1d;
  position: absolute;
  width: 100%;
  z-index: 100;
}
div.accountPanel a,
div.accountPanel a:hover,
div.accountPanel a:active,
div.accountPanel a:focus {
  color: #1d1d1d;
  letter-spacing: 1.5px;
  font-size: 12px;
  text-decoration: none;
  padding: 16px 0px;
  display: inline-block;
  width: 100%;
  position: relative;
  top: auto;
  right: auto;
  height: auto;
  font-weight: bold;
}
div.accountPanel a.close-icon:before,
div.accountPanel a.close-icon:after {
  width: 5%;
  top: 20px;
  right: 10px;
}
div.accountPanel > div[aria-expanded="false"] a.close-icon:before {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
div.accountPanel > div[aria-expanded="false"] a.close-icon:after {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
div.accountPanel > div[aria-expanded="true"] a.close-icon:before {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
div.accountPanel > div[aria-expanded="true"] a.close-icon:after {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
div.accountPanel ul.list-group {
  margin-bottom: 0px;
}
div.accountPanel li.list-group-item {
  padding: 0px;
  border: none;
  border-radius: 0px;
  border-top: 1px solid #d1d1d1;
}
#myaccount h1,
#myaccount h2 {
  text-transform: capitalize;
}
/* cart and checkout font css begins */
.checkout_cart .cart-item-count h1 span {
  font-family: "Montserrat", sans-serif;
}
.checkout_cart .products-details-header {
  font-size: 14px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.checkout_cart .products-details-header,
#checkout .products-details-header h3,
#checkout .product-row .description .name,
#checkout .product-row .description .price,
#checkout .total .price p,
#checkout .panel-group .panel-title .product-summary p,
.confirmation .description .name,
.confirmation .description .price,
.confirmation .total .total-amount p,
#checkout .fulfilment h3 {
  font-family: "Montserrat", sans-serif;
}
.checkout_cart .fa.fa-inr {
  -webkit-text-stroke: 0.2px #000;
  text-stroke: 0.2px #000;
}
.checkout_cart .promo-message {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.checkout_cart .description p a {
  font-family: "Montserrat", sans-serif;
}
.checkout_cart .description .price,
.checkout_cart .total-cost h3,
.checkout_cart .gift-message-section h3,
.checkout_cart .detailslist .button-with-text,
.checkout_cart .detailslist .total-cost-cart {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.checkout_cart .total-cost .cost,
.checkout_cart .tab-content .button-with-text {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.checkout_cart .quantity input,
#checkout .product-row .quantity {
  font-size: 12px;
  font-weight: bold;
}
.checkout_cart .shipping-method label.control-label,
.checkout_cart .select-country label,
.checkout_cart .pincode-check label {
  letter-spacing: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}
.checkout_cart .tab-content .tab-total .ordersummaryHead,
.checkout_cart .tab-content .button-with-text.tab-total span {
  font-size: 17px;
}
.checkout_cart .tab-content .tab-total .ordersummaryHead {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.checkout_cart .nav-tabs > li > a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 12px;
}
.checkout_cart .tab-content .youSaved .tab-total .ordersummaryHead,
.checkout_cart .tab-content .youSaved .button-with-text.tab-total {
  font-size: 12px;
}
.checkout_cart .tab-content .tab-total,
.checkout_cart .tab-content .offerPrice {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
#checkout .breakdown .total-cost-cart {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
#checkout .breakdown .total-break-down p:first-of-type,
#checkout .breakdown .data p,
.confirmation .breakdown p:first-of-type,
.confirmation .fulfilment,
.confirmation .products-details-header,
.confirmation .col-sm-offset-1.total p,
.confirmation .total .total-amount p,
.confirmation .cost-tag .total-cost-cart,
.confirmation .total_savings p {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.confirmation .col-sm-offset-1.total p,
#checkout .breakdown .total-break-down p:first-of-type,
#checkout .breakdown .data p,
#checkout .total .price p,
.confirmation .breakdown p:first-of-type {
  font-size: 12px;
}
#checkout .breakdown .total-break-down.total-cost p:first-of-type,
#checkout .breakdown .cost-tag h3,
#checkout .breakdown .data .cost-tag p,
.confirmation .grand_total h3,
.confirmation .grand_total p {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
}
#checkout .breakdown .youSaved .cost-tag h3,
#checkout .breakdown .youSaved .total-break-down.total-cost p:first-of-type {
  font-size: 12px;
}
#checkout .breakdown .cost-tag h3,
.confirmation .cost-tag h3,
.confirmation .grand_total h3 {
  font-family: "Montserrat", sans-serif;
}
.payment-wrapper .choose-card .nav-tabs > li > a {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.brandfirstloader {
  content: url("/wps/wcm/connect/fastrack/1620d642-1dde-4e93-9b45-1770276d99e2/fastrack_loader_orange.png?MOD=AJPERES");
}
.brandsecondloader {
  content: url("/wps/wcm/connect/fastrack/32de3fae-40b2-4f83-b52c-2587033f8849/fastrack_loader_grey.png?MOD=AJPERES");
}
/* cart checkout font css ends */
/*** Styles added to fix the issue with zoom in on iphone ***/
@media screen and (max-width: 767px) {
  .iphone-only input.form-control,
  .iphone-only select.form-control,
  .iphone-only textarea.form-control {
    font-size: 16px !important;
  }
}
@media all and (max-width: 767px) {
  .container {
    margin: 0px 30px;
    padding: 0;
  }
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .col-xs-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xs-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xs-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xs-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xs-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xs-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xs-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xs-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xs-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .no-padding {
    padding: 0;
  }
  .no-padding-right {
    padding-right: 0;
  }
  .no-padding-left {
    padding-left: 0;
  }
  .full-width-xs {
    margin: 0 -10px 0 -10px;
  }
  div.accountPanel ul.list-group.xs-list-group {
    border-bottom: 1px solid #1d1d1d;
  }
  label.control-label {
    letter-spacing: 0;
  }
  /*.padding-xs {
        padding: 0 20px;
  }*/
}
@media all and (min-width: 768px) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 11px;
  }
  p {
    font-size: 20px;
  }
  .btn {
    font-size: 11px;
  }
  .stMainContent .stLayoutContainers {
    min-height: 512px !important;
  }
  .btn-link,
  .btn-link:link,
  .btn-link:visited,
  .btn-link:active,
  .btn-link:active:focus,
  .selected a {
    font-size: 11px;
  }
  a.close-icon {
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
  }
  a.close-icon:before,
  a.close-icon:after {
    height: 3px;
  }
  input.form-control,
  select.form-control,
  textarea.form-control {
    height: 50px;
    font-size: 14px;
  }
  label.control-label {
    font-size: 14px;
    margin-bottom: 10px;
  }
  label.label-checkbox {
    font-size: 14px;
  }
  input[type="checkbox"]:not(:checked) + label:before,
  input[type="checkbox"]:checked + label:before {
    top: 0px;
    width: 17px;
    height: 18px;
  }
  input[type="checkbox"]:not(:checked) + label,
  input[type="checkbox"]:checked + label {
    padding-left: 25px;
  }
  .modal-dialog {
    margin: 140px auto;
  }
  .modal-lg {
    width: 800px;
  }
  .modal-md {
    width: 586px;
  }
  .modal-sm {
    width: 400px;
  }
  .modal-header {
    padding: 15px;
  }
  .padding-left-sm {
    padding-left: 20px;
  }
  .myaccount-container,
  .aside {
    margin-top: 60px;
  }
  .breadcrumb {
    font-size: 12px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    letter-spacing: 2px;
  }
  .breadcrumb > li + li:before {
    content: ">";
    padding: 0 7px;
  }
  .breadcrumb li {
    display: inline;
    word-break: break-all;
  }
  .breadcrumb li a {
    color: #8c8c8c;
  }
  .breadcrumb li.active {
    color: #181818;
    pointer-events: none;
  }
  .breadcrumb li.active a {
    color: #181818;
    pointer-events: none;
    text-decoration: none;
  }
  div.accountPanel {
    border: none;
    position: relative;
  }
  div.accountPanel a,
  div.accountPanel a:hover,
  div.accountPanel a:active,
  div.accountPanel a:focus,
  div.accountPanel li.link-selected a {
    font-size: 14px;
    line-height: 35px;
    text-transform: none;
    letter-spacing: 0px;
    padding: 0px;
    display: inline;
    font-weight: bold;
  }
  div.accountPanel a:hover,
  div.accountPanel li.link-selected a {
    padding-bottom: 5px;
    border-bottom: 1px solid #1d1d1d;
  }
  div.accountPanel ul.list-group {
    border-bottom: 0;
  }
  div.accountPanel li.list-group-item {
    text-align: left;
    border: none;
    margin-bottom: 25px;
  }
  #myacc {
    display: block !important;
  }
  .help-block {
    font-size: 14px;
  }
  .alert {
    font-size: 14px;
  }
  .checkout_cart .tab-content .tab-total,
  .checkout_cart .tab-content .button-with-text.tab-total {
    font-size: 22px;
  }
  .checkout_cart .nav-tabs > li > a,
  .checkout_cart .tab-content .youSaved .tab-total .ordersummaryHead,
  .checkout_cart .tab-content .youSaved .button-with-text.tab-total {
    font-size: 14px;
  }
  #checkout .breakdown .total-cost-cart {
    font-size: 14px;
  }
  .checkout_cart .shipping-method label.control-label,
  .checkout_cart .select-country label,
  .checkout_cart .pincode-check label {
    font-size: 14px;
  }
  #checkout .breakdown .total-break-down.total-cost p:first-of-type,
  #checkout .breakdown .cost-tag h3,
  #checkout .breakdown .data .cost-tag p,
  .confirmation .cost-tag h3,
  .confirmation .grand_total h3,
  .confirmation .grand_total p {
    font-size: 22px;
  }
  .confirmation .col-sm-offset-1.total p,
  #checkout .breakdown .total-break-down p:first-of-type,
  .confirmation .breakdown p:first-of-type,
  #checkout .breakdown .data p,
  #checkout .total .price p {
    font-size: 14px;
  }
  .checkout_cart .total-cost .cost,
  .checkout_cart .tab-content .button-with-text {
    font-size: 14px;
  }
  #checkout .breakdown .youSaved .cost-tag h3,
  #checkout .breakdown .youSaved .total-break-down.total-cost p:first-of-type {
    font-size: 16px;
  }
}
@media all and (min-width: 1015px) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 20px;
  }
  .stMainContent .stLayoutContainers {
    min-height: 530px !important;
  }
  input[type="checkbox"].form-control {
    width: 15px;
    height: 15px;
  }
  .padding-left-sm {
    padding-left: 0px;
  }
  div.accountPanel a,
  div.accountPanel a:hover,
  div.accountPanel a:active,
  div.accountPanel a:focus,
  div.accountPanel li.link-selected a {
    font-size: 14px;
  }
  div.accountPanel ul.list-group {
    margin-top: 23px;
  }
  .aside {
    padding-right: 13px;
  }
  .myaccount-container {
    padding-left: 13px;
  }
  .checkout_cart .promo-message {
    font-size: 16px;
  }
  .checkout_cart .tab-content .tab-total,
  .checkout_cart .tab-content .button-with-text.tab-total {
    font-size: 24px;
  }
  #checkout .breakdown .total-cost-cart {
    font-size: 14px;
  }
  #checkout .breakdown .total-break-down.total-cost p:first-of-type,
  #checkout .breakdown .cost-tag h3,
  #checkout .breakdown .data .cost-tag p,
  .confirmation .cost-tag h3,
  .confirmation .grand_total h3,
  .confirmation .grand_total p {
    font-size: 24px;
  }
  .help-block {
    font-size: 14px;
  }
  .alert {
    font-size: 14px;
  }
  label.label-checkbox {
    font-size: 14px;
  }
}
@media all and (min-width: 1200px) {
  label.control-label {
    white-space: nowrap;
  }
  .btn-link:hover::after {
    transform: translateY(-3px);
    background-color: #56bfbc;
  }
}
/*
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
(min-resolution: 192dpi) and (max-width: 767px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 19px;
    }
    h4 {
        font-size: 17px;
    }
    p{
        font-size: 30px;
    }
}
*/
/*@media only screen and (min-width: 1015px) {
    h1{
        font-size: 38px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 12px;
    }
    p{
        font-size: 20px;
}
}*/
/* End of Fonts css*/
/*
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
(min-resolution: 192dpi) and (max-width: 767px) {
    .btn {
        font-size: 20px;
        padding-top:38px;
        padding-bottom: 38px;
    }
}
*/
/*End of Buttons css */
/*
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
(min-resolution: 192dpi) and (max-width: 767px) {
    input.form-control,
    select.form-control,
    textarea.form-control {
        font-size: 30px;
    }
    input.form-control,
    select.form-control {
        height: 80px;
    }
    label.control-label {
        font-size:20px;
        margin-bottom: 20px;
    }
}
*/
/*
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
(min-resolution: 192dpi) and (max-width: 767px) {
    .modal-dialog {
        margin: 20px 40px;
    }
    .modal-lg {
        width: 800px;
    }
    .modal-md {
        width: 586px;
    }
    .modal-sm {
        width: 400px;
    }
}
*/
/*
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
(min-resolution: 192dpi) and (max-width: 767px) {
    header{
        margin-bottom: 40px;
    }
    footer{
        margin-top: 40px;
    }
    .container {
        margin: 0 60px;
        padding: 0;
    }
    .row {
        margin-left: -20px;
        margin-right: -20px;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
    .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
    .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
    .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
    .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
    .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
    .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
    .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
    .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
    .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .no-padding {
        padding: 0;
    }
    .no-padding-right {
        padding-right: 0;
    }
    .no-padding-left {
        padding-left: 0;
    }
    .full-width-xs{
        margin: 0 -20px 0 -20px;
    }

}
*/
/*
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px),
(min-resolution: 192dpi) and (max-width: 767px) {
   div.accountPanel a,
    div.accountPanel a:hover,
    div.accountPanel a:active,
    div.accountPanel a:focus{
        font: 19px Montserrat;
        padding: 32px 0px;
    }
}
*/
/* loader css */
@keyframes fillinUp {
  100% {
    height: 30px;
  }
  50% {
    height: 0px;
  }
  0% {
    height: 30px;
  }
}
.wishlist-black {
  overflow: hidden;
  animation-name: fillinUp;
  -webkit-animation-name: fillinUp;
  animation-duration: 7s;
  -o-animation-duration: 7s;
  -ms-animation-duration: 7s;
  -webkit-animation-duration: 7s;
  -moz-animation-duration: 7s;
  -webkit-animation-delay: 0s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
.brand-first-wishlist-loader {
  background-image: url("/wps/wcm/connect/mia/1654bf33-ee27-4925-8901-463c75099413/Mia-Logo.svg?MOD=AJPERES");
  background-repeat: no-repeat;
  height: 35px;
  width: 110px;
  top: 50%;
  left: 50%;
  margin-left: -55px;
  position: absolute;
}
.brand-second-wishlist-loader {
  background-image: url("/wps/wcm/connect/mia/f3e081ea-57bc-4ee4-8bdb-ade96f0ad1b1/Mia-Logo_white.svg?MOD=AJPERES");
  background-repeat: no-repeat;
  height: 35px;
  width: 110px;
  top: 50%;
  left: 50%;
  margin-left: -55px;
  position: absolute;
  background-size: 100%;
  background: #fff;
  z-index: 1;
  opacity: 0.9;
}
.brand-first-order-loader {
  background-image: url("/wps/wcm/connect/mia/1654bf33-ee27-4925-8901-463c75099413/Mia-Logo.svg?MOD=AJPERES");
  background-repeat: no-repeat;
  height: 35px;
  width: 110px;
  top: 50px;
  left: 50%;
  margin-left: -55px;
  position: absolute;
  background-size: 100%;
}
.brand-second-order-loader {
  background-image: url("/wps/wcm/connect/mia/f3e081ea-57bc-4ee4-8bdb-ade96f0ad1b1/Mia-Logo_white.svg?MOD=AJPERES");
  background-repeat: no-repeat;
  height: 35px;
  width: 110px;
  top: 50px;
  left: 50%;
  margin-left: -55px;
  position: absolute;
  background-size: 100%;
  background: #fff;
  z-index: 1;
  opacity: 0.9;
}
