<style>
.above-footer {
    background: #f2f0e8;
    padding: 20px 0;
}
.above-footer p{
    font-family: Playfair Display;
    font-weight: 400;
}
.above-footer h3 {
    text-transform: uppercase;
    margin-top: 15px;
    letter-spacing: 0.16em;
}
#customer, footer.checkout .terms a, footer.checkout .terms .copyright {
    font-family: Raleway;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    white-space: nowrap;
}
footer.checkout hr {
    border-top: 1px solid #c0b48b;
}
footer.checkout .terms {
    border-top: none;
    margin-top: 15px;
    padding-top: 0;
}
#location::-ms-input-placeholder {
   color: #fff;
}
footer .form-group input, footer .form-group input:focus{
color: #fff !important;
}

footer > .container,footer > .container .container {
    margin: 0px auto;
}
footer .form-group button:visited,
footer .form-group button:hover,
footer .form-group button:focus,
footer .form-group button:active,
footer .form-group button:active:focus{
background: #fff;
color: #c0b48b; 
border: 1px solid #fff;
}
div.cpy_rights {
    font-family: 'Raleway', sans-serif;
}
@media all and (min-width: 768px) {
#customer .list-unstyled > li {
    width: 50%;
}
}

@media all and (min-width: 768px) and (max-width: 1014px) {
   footer.checkout .payment-methods span img {
      margin-right: 22px;
   }
   footer .social .social-icon {
      margin: 0 0 0 21px;
   }
} 

@media all and (min-width: 1015px) {
  .above-footer p{
      font-size: 18px;
      line-height: 32px;
  }
  .checkout .container {
      padding-left: 0;
      padding-right: 0;
  }
  footer.checkout .panel {
    padding-bottom: 17px;
  }
  footer.checkout .payment-methods span img{
    margin-right: 57px;
  }
  footer.checkout .terms .copyright {
    margin-top: 6px;
  }
  footer .social .social-icon {
    margin: 0 0 0 28px;    
  }
}


/*footer starts*/

footer,
footer .panel {
    background-color: #b0a16e;
    color: #ffffff;
}

footer .panel a,
footer .panel a:hover,
footer .panel a:focus,
footer .terms a,
footer .terms a:hover,
footer .terms a:focus {
    color: #ffffff;
    text-decoration: none;
}

footer .panel a {
   /*width: 100%;*/
    display: inline-block;
}

footer .panel {
    border-radius: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #c0b48b;
}

footer .panel-heading {
    padding: 17px 20px;
    position: relative;
}

footer .panel-heading a {
    font: 400 15px 'Playfair Display', serif;
    letter-spacing: 0px;
}

footer .sub-menu a {
    font: 500 9.5px 'Raleway', sans-serif;
    padding-left: 10px;
    /*margin-bottom: 10px;*/
}

footer .sub-menu li:last-of-type a {
    margin-bottom: 20px
}

footer a[data-parent="#accordionFooter"]+span.collapse-icon {
    background-image: url(<Component name='tanishq_design_lib/images/icon/arrow-down-white' format='url'>);
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-background-size: auto 8px;
    -moz-background-size: auto 8px;
    -o-background-size: auto 8px;
    background-size: auto 8px;
    height: 100%;
    width: 13px;
    position: absolute;
    right: 10px;
    top: 2px;
}

footer a[data-parent="#accordionFooter"][aria-expanded="true"]+span.collapse-icon {
    background-image: url(<Component name='tanishq_design_lib/images/icon/arrow-up-white' format='url'>);
}

footer .form-group {
    position: relative;
}

footer .form-group input,
footer .form-group input:focus {
    background-color: transparent;
    border: 1px solid #e7e3d4;
    padding-right: 89px;
    border-radius: 0;
    height: 40px;
    color: #fff;
    padding-left: 17px;
    font: 500 8.5px 'Raleway', sans-serif;
    text-transform: none;
    letter-spacing: 1.5px;
    outline: 0;
}

footer .form-group input::placeholder {
    color: #fff;
}

footer .form-group button {
    position: absolute;
    border-radius: 0;
    border: 0;
    background: #fff;
    color: #c0b48b;
    right: 2px;
    top: 2px;
    height: 36px;
    width: 86px;
    padding: 8px 12px 7px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
font-size: 9.5px;
}

footer .social .social-link-header {
    display: inline-block;
    margin-top: 10px;
    font-family: Playfair Display;
}

footer .social .social-icon {
    display: inline-block;
    height: 12px;
    width: 12px;
    /*margin: 0 10px 0 10px;*/
}

footer .terms a,
footer .terms a:hover,
footer .terms a:focus {
    font: 500 8.5px 'Raleway', sans-serif;
    letter-spacing: 0.16em;
}

footer .separator {
    margin-right: -10px;
    margin-left: -10px;
    border-color: #c0b48b;
    margin-top: 27px;
}

footer .download-app-section img {
    width: 110px;
}

footer .payment-methods {
    margin-bottom: 7px;
    list-style: none;
}

footer .payment-methods span img {
    display: inline-block;
    margin: 0px 7px 18px 0px;
}

footer .payment-methods span:nth-child(5) img,
footer .payment-methods span:nth-child(9) img {
    margin-right: 0;
}

footer .payment-methods span:nth-child(6) img,
footer .payment-methods span:nth-child(7) img,
footer .payment-methods span:nth-child(8) img {
    margin-right: 10px;
}

footer .payment-methods .visa {
    width: 40px
}

footer .payment-methods .master-card {
    width: 50px
}

footer .payment-methods .paypal {
    width: 48px
}

footer .payment-methods .maestro {
     /*width: 33px*/
}

footer .payment-methods .rupay {
    width: 55px
}

footer .payment-methods .axis {
    width: 64px;
}

footer .payment-methods .icici {
    width: 74px;
}
/*
footer .payment-methods .diner {
    width: 42px;
}
*/

footer .payment-methods .american {
    width: 47px;
}

footer .sign-up-section p {
    letter-spacing: 0px;
    margin: 10px 0 10px;
    font-family: Playfair Display;
}

footer .download-app-section p {
    margin: 5px 0 15px;
}

footer .download-app-section .row>div {
    max-width: 185px
}

footer .terms {
    margin-top: 7px;
    margin-bottom: 5px
}

footer .copyright {
    margin: 3px 0 30px;
    letter-spacing: 1.5px;
}

footer .sub-menu li a {
   letter-spacing: 0.16em;
}

footer .download-app-section h3 {
   font-family: Playfair Display;
   text-transform: none;
}

@media all and (max-width: 767px) {
    div.cpy_rights{
       font-size:10px;
       margin:10px 0px;
    }
    footer .social .social-link-header {
      margin-top: 20px;
    }
footer.checkout .container{
margin: 0 auto;
}
    footer.checkout .terms .copyright {
        font-size: 8.5px;
    }
    footer .sign-up-section p {
        margin-bottom: 17px;
    }
    footer .download-app-section h3 {
        font-size: 15px;
        line-height: 25px;
    }
    .appmargin {
        margin-left: -14px;
    }
    footer.checkout .panel-heading {
        padding: 30px 20px 20px;
    }
    footer.checkout .terms {
        margin-top: 5px;
    }
    .paymentcontainer {
        margin: 0px 7px;
    }
    footer .social .social-icon {
       margin: 0 0 0 16px;    
    }
    .sign-up-section .form-group input {
      font-size: 9.5px !important;
    }
    footer .sub-menu a{
padding-left: 20px;
}
}

@media all and (min-width: 768px) {
    .above-footer {
        padding: 33px 0 30px;
    }
    .cpy_rights{
        font-size:10px;
        letter-spacing: 1px;
        margin: 10px;
   }
    .above-footer h3 {
        text-transform: uppercase;
        margin-top: 15px;
    }
    footer.checkout {
        padding-top: 30px;
    }
    footer {
        padding-top: 40px;
    }
    footer .sign-up-section h3 {
        margin-bottom: 30px;
    }
    footer .panel-heading {
        font-size: 16px;
        padding: 10px;
    }
    footer .panel-heading a {
        font-size: 16px;
    }
    footer .social .social-link-header {
        margin-top: 13px;
        margin-bottom: 23px;
    }
    footer .panel {
        border: none;
    }
    footer .sub-menu li a {
        font-size: 10px
    }
    footer .sub-menu.collapse,
    footer .sub-menu.collapse.in,
    footer .sub-menu.collapsing {
        display: block;
        height: auto !important;
    }
    footer .panel-heading {
        pointer-events: none;
        cursor: default;
    }
    footer .social .social-icon {
        height: 15px;
        width: 15px;
        /*margin: 0 21px 0 15px;*/
    }
    footer .sign-up-section p {
        margin: 10px 0 20px;
    }
    footer .terms {
        margin-top: 10px;
        padding-top: 13px;
        /*border-top: 1px solid #c0b48b;*/
    }
    footer .terms .row>div {
        width: auto;
        padding-right: 27px;
    }
    footer .terms .terms-conditions {
        padding-right: 0px;
    }
    footer .download-app-section h3 {
        margin-bottom: 18px;
        font-size: 18px;
        line-height: 50px;
    }
    footer .download-app-section .row>div{
        width: 133px;
        float: left;
        padding-right: 0;
    }
    footer .download-app-section img {
        width: 133px;
    }
    footer .payment-methods {
        padding-top: 17px;
        padding-bottom: 17px;
        margin-top: 10px;
    }
    footer .payment-methods span img {
        margin: 7px 20px 7px 0;
    }
    footer .payment-methods span:nth-child(5) img,
    footer .payment-methods span:nth-child(9) img {
        margin-right: 20px;
    }
    footer .payment-methods span:nth-child(6) img,
    footer .payment-methods span:nth-child(7) img,
    footer .payment-methods span:nth-child(8) img {
        margin-right: 20px;
    }
    footer.checkout .sub-menu ul{
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	margin-top: 3px;
    }
      footer.checkout .panel-heading {
     font-size: 18px;
     line-height: 50px;
  }
  #customer{
     font-size: 12px;
     line-height: 32px;
     margin-bottom: 20px;
  }
  #about {
    line-height: 32px;
  }
  footer.checkout terms, footer.checkout .terms .copyright {
    font-size: 10px;
    line-height: 18px;
  }
  footer.checkout .payment-methods {
    margin-top: -22px;
    padding-bottom: 25px;
  }
  footer.checkout .panel {
    padding-bottom: 0px;
    border-bottom: 1px solid #c0b48b;
  }
}

@media all and (min-width: 1015px) {
    .above-footer .row>div {
        padding-left: 13px;
    }
   .cpy_rights{
        font-size:11px !important;
        letter-spacing: 1px;
        margin-top: 8px;
   }
    footer .sub-menu li a,
    footer .form-group input,
    footer .form-group input:focus {
        font-size: 12px;
    }
    footer .form-group input,
    footer .form-group input:focus {
        height: 54px;
        margin-bottom:15px;
        padding-right:125px;
        font-size: 12px !important;
    }
    footer .form-group button {
        width: 123px;
        font-size: 12px;
        height: 50px;
    }
    footer .download-app-section p {
        margin-top: 42px;
    }
    footer .terms {
        margin-top: 29px;
        padding-top: 23px;
        margin-bottom: 0;
    }
    footer .terms .row>div {
        padding-right: 37px;
    }
    footer .terms a,
    footer .terms a:hover,
    footer .terms a:focus {
        font-size: 10px;
    }
    footer .payment-methods {
        margin-top: 5px;
        padding-bottom: 10px;
    }
    footer .panel-heading {
        padding-bottom: 25px;
    }
    footer .panel-heading a {
        font-size: 18px;
    }
    footer .payment-methods span img {
        margin: 0 50px 7px 0;
    }
    footer .payment-methods span:nth-child(5) img,
    footer .payment-methods span:nth-child(9) img {
        margin-right: 50px;
    }
    footer .payment-methods span:nth-child(6) img,
    footer .payment-methods span:nth-child(7) img,
    footer .payment-methods span:nth-child(8) img {
        margin-right: 50px;
    }
    #accordion {
        padding-left: 0;
    }
    .right-content {
        padding-right: 0;
    }
    .download-app-section{
        padding-top: 4vh;
    }
}

footer .payment-methods li img,footer .payment-methods li svg{
	display: inline-block;
vertical-align: top;
	/*min-width: 38px;*/
    height:100%;
}

footer .payment-methods li{
	display: inline-block;
	margin: 0px 0px 30px 0px;
    height:16px;
    text-align:center;
}
footer .payment-methods{
	display: table;
	list-style: none;
	/*padding: 0 3px 20px 20px;*/
}

@media all and (max-width: 767px) {
	 footer .payment-methods{
				/*padding-right:20px;*/
                               padding:0px;
			}
			footer.checkout .terms a{
				padding: 0px;
			}
footer .terms{
padding: 0 20px;
}
}
@media all and (min-width: 768px) {
    footer .payment-methods li{
      margin-top:15px;
      width:11%;
      margin-bottom:0px;
    }
    
    footer .payment-methods{
			padding:0px 0px 17px 0px;
	}
}

/*footer ends*/

</style>