.banner-img{
    position:relative;
}
.banner-img img{
    width: 100%;
}
.banner-content{
    text-align: left;
    top:36%;
    padding-bottom: 25px;
    margin-bottom: 55px;
    position: absolute;
    bottom: 0px;
    color: #fff;
    margin-left: 10px;
}
.banner-content h1{
    margin-top: 0px;
    margin-bottom: 10px;
}
.banner-content a{
    color: #fff;
}
.banner-content .btn-link{
    border-bottom: 1px #ffffff solid;
    padding-bottom: 6px;
}
.carousel-indicators{
    text-align: left;
    margin-left: 20px;
    left: 0px;
    bottom: 15px;
}
.carousel-indicators li{
    border-radius: 0;
    width: 33px;
    height: 1px;
    opacity: 0.5;
}
.carousel-indicators .active{
    border-radius: 0;
    width: 33px;
    height: 1px;
    color: #fff;
    opacity: 1;
}
.carousel-control.right{
    position: absolute;
    bottom: 30px;
    right: 20px;
    top: auto;
    background-image: none;
    opacity: 1;
    text-shadow: none;
    font: 500 8.5px Raleway;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 6px;
    width:auto;
}
.article .content{
    margin-top: 25px;
}
.article .content-detail p{
    margin-bottom: 15px;
}
.content .content-desc h3{
    margin-top: 25px;
}
.content .content-desc h1{
    margin-top: 5px;
    margin-bottom: 12px;
    line-height: 25px;
}
.btn-link{
    padding-bottom: 6px;
}
.content-desc{
    margin-bottom: 30px;
}
.content-mid{
    background-color: #b0a16e;
    color: #fff;
}
.content-mid .content-detail h1{
    margin-bottom: 15px;
}
.content-mid .content-sub .sub-detail h3{
    margin-top: 12px;
    margin-bottom: 4px;
    line-height: 25px;
}
.content-mid .content-detail h2{
    line-height: 28px;
    margin-bottom: 28px;
}
hr{
    margin-top: 30px;
    margin-bottom: 10px;
}
.content-mid .content-sub .sub-detail p{
    margin-bottom: 30px;
}
.tanishq-collections{
    position: relative;
}
.tanishq-collections .content h1{
    line-height: 26px;
    margin-top: 26px;
    margin-bottom: 15px;
}
.tanishq-collections .content p{
    margin-bottom: 20px;
}
.tanishq-collections .collection img{
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.tanishq-collections .collection .products-content{
    position: absolute;
    bottom: 23px;
    color: #fff;
    left: 0px;
}
.tags span{
    text-transform: uppercase;
    margin: 0 4px;
    font: 500 8.5px Raleway;
    line-height: 15px;
    padding: 5px 15px 3px 15px;
    display: inline-block;
    color: #fff;
    background-color: #e9c457;
}
.products .collection img{
margin: 0 auto;
}
.slider{
    padding-bottom: 40px;
}
.slider a{
    position: absolute;
    bottom: 0px;
    font: 500 8.5px Raleway;
    color: #181818;
    border-bottom: 1px solid #181818;
    padding-bottom: 6px;
}
.slider a:hover,.slider a:focus{
    text-decoration: none;
}
.slider .slick-prev,.slider .slick-next{
   bottom: 0px;
}
.slider .slick-prev{
    left: 10px;
}
.slider .slick-next{
    right: 10px;
}
.products{
    position: relative;
    margin-bottom: 30px;
}
.products .content h1{
    line-height: 26px;
    margin-top: 14px;
    margin-bottom: 23px;
}
.products .products-content{
    margin-top: 12px;
}
.products .products-content p{
    margin-bottom: 15px;
}
.products .products-content p:first-of-type{
    margin-bottom: 10px;
}
.products .products-content h3{
    margin: 0px;
}
.pagingInfo{
    position: absolute;
    bottom: 0px;
    left: 37%;
}
.pagingInfo::before{
    content: '<';
    padding-right: 17px;
}
.pagingInfo::after{
    content: '>';
    padding-left: 17px;
}
.prodpagingInfo{
    position: absolute;
    bottom: 0px;
    left: 37%;
}
.prodpagingInfo::before{
    content: '<';
    padding-right: 17px;
}
.prodpagingInfo::after{
    content: '>';
    padding-left: 17px;
}
@media all and (max-width: 767px){
    .container{
       margin: 0 20px;
    }
    .content-mid .content-detail,.content-mid .content-sub{
        padding: 0;
    }
}
@media all and (min-width: 767px) {
    .banner-content{
        top: 5%;
    }
    .btn-link{
        padding-bottom: 10px;
    }
    .banner-content h1{
        line-height: 40px;
        margin-bottom: 12px;
    }
    .banner-content .btn-link{
        padding-bottom: 10px;
    }
    .banner-content h3{
        margin-bottom: 20px;
    }
    .carousel-indicators{
        bottom: 15px;
    }
    .article .content{
        margin: 60px 0;
    }
    .article .content-detail p{
        width: 101%;
    }
    .content-image{
        position: relative;
        padding-bottom: 45px;
    }
    .content-image img,.content-detail-image img{
        margin: 0 auto;
    }
    .content-image p,.content-detail-image p{
        position: absolute;
        right: 14px;
        margin-top: 15px;
    }
    .content-desc .content-detail {
        margin-top: 0px;
        margin-bottom: 35px;
    }
    .content-desc .content-detail p{
        line-height: 32px;
        margin-bottom: 15px;
    }
    .content-desc .content-detail h3{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .content-desc .content-detail h1{
        margin-bottom: 10px;
    }
    .content-mid .content-detail{
        padding: 52px 0;
    }
    .content-mid .content-sub{
        padding: 78px 0 40px 0;
    }
    .content-mid .content-sub .sub-image{
        top: 5px;
    }
    .content-mid .content-sub .sub-detail h3{
        margin-top: 0px;
    }
    .content-mid .content-sub .sub-detail p{
        line-height: 20px;
    }
    .content-mid .content-detail h1{
        margin-bottom: 45px;
    }
    .content-mid .content-detail h2{
        line-height: 30px;
    }
    .slider{
        padding-bottom: 70px;
    }
    .slider a{
        padding-bottom: 8px;
    }
    .tanishq-collections{
        margin-top: 15px;
        margin-bottom: 50px;
    }
    /*.tanishq-collections .view{
        top: 21%;
        text-align: right;
    }*/
    .tanishq-collections .content{
        margin-bottom: 20px;
    }
    .tanishq-collections .content h1{
        margin-bottom: 28px;
    }
    .tanishq-collections .collection .products-content{
        bottom: 15px;
    }
    .slider .slick-prev{
        left: 14px;
    }
    .slider .slick-next{
        right: 14px;
    }
    .pagingInfo,.prodpagingInfo {
        left: 46%;
    }
    .products .content{
        margin-top: 15px;
    }
    .product-slider {
        padding-bottom: 44px;
    }
    
}
@media all and (min-width: 1015px) {
    .banner-content{
        top: 30%;
        left: 4%;
    }
    .banner-content h1{
        line-height: 50px;
        margin-bottom: 20px;
    }
    .carousel-indicators{
        bottom: 25px;
        left: 4%;
    }
    .content-desc .content-detail h3{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .content-desc .content-detail{
        margin-top: 72px;
        margin-bottom: 74px;
    }
    .content-desc .content-detail h1{
        margin-bottom: 10px;
        line-height: 50px;
    }
    .content-image p,.content-detail-image p{
        position: absolute;
        right: 13px;
        margin-top: 25px;
        line-height: 28px;
    }
    .content-detail-image .image-right{
        margin-top: 20px;
    }
    .article .content{
        margin: 80px 0;
    }
    .content-mid .content-sub{
        padding-top: 68px;
    }
    .content-mid .content-sub .sub-detail h3{
        line-height: 50px;
        margin: 0;
    }
    .content-mid .content-sub h3{
        margin-top: 10px;
    }
    .content-mid .content-detail{
        padding: 38px 0 46px 0;
    }
    .content-mid .content-detail h1{
        margin-bottom: 68px;
        line-height: 52px;
    }
    .content-mid .content-detail h2{
        line-height: 40px;
    }
    .content-mid .content-sub .sub-one{
        margin-bottom: 28px;
    }
    .content-mid .content-sub .sub-detail p{
        line-height: 32px;
    }
    .tanishq-collections{
        margin-top: 27px;
    }
    .tanishq-collections .content{
        margin-bottom: 30px;
    }
    .tanishq-collections .content h1{
        line-height: 50px;
        margin-bottom: 20px;
    }
    .tanishq-collections .content p{
        line-height: 32px;
    }
    .tanishq-collections .collection .products-content{
        bottom: 35px;
    }
    .products .content{
        margin-top: 38px;
    }
    .products .content h1{
        line-height: 52px;
        margin-bottom: 28px;
        margin-top: 0px;
    }
    .products .products-content{
        margin-top: 4px;
    }
    .products .products-content .price{
        margin-bottom: 10px;
    }
    .product-slider{
        padding-bottom: 70px;
    }
    .products{
        margin-bottom: 50px;
    }
}